@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{padding: 0; margin: 0; font-family: 'Noto Sans KR', sans-serif;}
li{list-style: none;}
a{text-decoration: none;}
img{display: block; max-width: 100%;}
.flex_value{display:flex;justify-content:space-between;}


.logo h1{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 500;
    color: #3a332e;/*5a4f46*/
    letter-spacing:3px;
    transition: 0.6s;
}
.logo h3{
    font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    font-weight: 400;
    color: #3a332e;
    letter-spacing:1px;
}

/*footer*/
footer{
    width: 100%;
    margin-top: 250px;
    margin-bottom: 50px;
    transition: 0.6s;
}
footer .fis{
    width: 100%;
    overflow:hidden;
    background-color: #d5bea4;
    transition: 0.6s;
}
footer .fis .wrap{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
footer .fis .wrap > .logo{
    width: 16.21%;
    position:static;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}
footer .fis .wrap > .logo h1{
    font-size:30px;
}
footer .fis .wrap > .logo h3{
    font-size: 14px;
}
footer .right{
    width: 76%;
    transition: 0.6s;
}
footer .right>.top{
    margin:30px 0;
    transition: 0.6s;
    display:flex;
    justify-content:flex-start;
}
footer .right>.top a{
    margin-right: 35px;
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 230, 213);
    font-size: 28px;
    line-height: 30px;
    transition: 0.6s;
}
footer .right>.top a:hover{
    color: #fff;
}

footer .right>.bottom{
    border-top: 1px solid rgb(255, 230, 213);
    transition: 0.6s;
}
footer .bottom ul{
    margin-top: 30px;
    transition: 0.6s;
    display:flex;
    justify-content:flex-start;
}
footer .bottom li{
    border-right: 1px solid #363636;
    line-height: 17px;
    font-size: 15px;
    padding: 0 15px;
    transition: 0.6s;
}
footer .bottom li a{
    color: #363636;
}
footer .bottom li:first-child{
    padding-left: 0;
}
footer .bottom li:last-child{
    border-right: none;
    padding-right: 0;
}
footer .bottom p{
    color: #363636;
    font-size:15px;
    margin:15px 0 30px;
    transition:0.6s;
}
footer .sec .top{
    display: flex;
    justify-content: space-between;
    margin:24px 0;
}

footer .sec .top ul{
    width: 80%;
    transition: 0.6s;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
footer .sec .top ul li{
    font-size: 15px;
    border-right: 1px solid #363636;
    line-height: 16px;
    font-weight: 400;
    padding: 0 20px;
}
footer .sec .top ul li:first-child{
    padding-left: 0;
}
footer .sec .top ul li:last-child{
    border-right: none;
}
footer .sec .top ul li a{
    color: #363636;
}
footer .sec .top .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .sec .top .icon a{
    width:65px;
    display: flex;
    justify-content:flex-end;
}
footer .sec p{
    border-top: 1px solid #e2e2e2;
    padding-top: 30px;
    color: #363636;
    line-height: 24px;
    font-size: 13px;
    transition: 0.6s;
}