@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{padding: 0; margin: 0; font-family: 'Noto Sans KR', sans-serif;}
li{list-style: none;}
a{text-decoration: none;}
img{display: block; max-width: 100%;}
.flexValue{display:flex;justify-content:space-between;}

/* common */
.hide{display:none;}
.blind{
    position:absolute;
    left:-999em;
}
.clear:after{
    content:'';
    clear:both;
    display:block;
}
header{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:90px;
    background:transparent;
    z-index:1000;
    transition:.3s ease-in-out;
    text-align: center;
}
.logo{
    position:absolute;
    left:6.4%; /* 48 / 750 */
    top:18px;
    z-index:1000;
}
.logo h1{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 500;
    color: #3a332e;/*5a4f46*/
    letter-spacing:3px;
    transition: 0.6s;
}
.logo h3{
    font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    font-weight: 400;
    color: #3a332e;
    letter-spacing:1px;
}
.mobile{display: none;}
.btnNav{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:6.4%; /* 48 / 750 */
    z-index:1000;
    width:26px;
    height:18px;
}
.btnNav span{
    display: block;
    position: absolute;
    top:0;
    width:100%;
    height:2px;
    background:#3f2b1a;
    text-indent:-999em;
    transition:.3s;
}
.btnNav span:nth-child(2){
    top:8px;
}
.btnNav span:nth-child(3){
    top:16px;
}
header.active span{
    background:#fff;
}
header.active span:nth-child(1){
    top:8px;
    transform: rotate(45deg);
}
header.active span:nth-child(2){
    background:transparent;
}
header.active span:nth-child(3){
    top:8px;
    transform: rotate(-45deg);
}
header.active .logo a{
    background-image:url(../img/logo_w.png);
}
.navWrap{
    position: fixed;
    background-color:#e8d7c3;
    left: 0;
    top: 0;
    width:100%;
    height:90px;
    transition: .3s;
}
header .navInner{
    width: 60%;
    height:90px;
    margin: auto;
    text-align: center;
    z-index: 999;
}
.navInner .gnb{
    width: 80%;
    margin: auto;
    transition:.3s ease-in-out;
}
header .navBg{
    width: 100%;
    height: 380px;
    position: absolute;
    left: 0;
    top: 90px;
    background-color: #fff;
    display: none;
}
header ul.gnb>li{
    width: 18%;
    font-size: 14px;
    font-weight: 600;
    line-height: 90px;
    position: relative;
}
header ul.gnb>li>a{
    font-size: 15px;
    font-weight: 500;
}
header ul.gnb>li>a:hover{
    color: #fff;
    transition: 0.3s;
}


/*submenu*/
header ul.submenu{
    width: 100%;
    display: none;
}
header ul.submenu>li{
    width: 100%;
    line-height: 60px;
    height: 60px;
    font-size: 13px;
    font-weight: 300;
    
}
header ul.submenu>li>a:hover{
    border-bottom: 1px solid #333;
}

/*login*/
header ul.login{
    /* width: 22%;20%; */
    position: absolute;
    top: 0;
    right:6%;
    display:flex;
    justify-content:space-between;
}
header ul.login>li{
    font-size: 12px;
    font-weight: 300;
    line-height: 10px;
    border-right: 1px solid #333;
    margin: 40px 0px; /* 90 - 10 / 2*/
    padding: 0px 10px;
}
ul.login>li:nth-of-type(1){
    padding-left: 0;
}
ul.login>li:nth-of-type(3){
    border: none;
    padding-right: 0;
}
header ul.login>li>a{
    display: block;
}
header li>a{
    color: #333333;
}
header ul.login i{
    opacity: 0;
}
header i{
    opacity: 0;
}
@media all and (max-width:1430px) {
    .allLogin .login{
        display: none;
    }

    .allLogin ul.loginIcon i {
        display: block;
        font-size: 18px;
        margin-top: 21px;
        cursor: pointer;
        opacity: 1;
        color: #9a8776;
        margin-right: 10px;
    }
}
@media all and (max-width:1300px){

    .mobile{
        display: block;
    }
}