@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
font-family: 'Cinzel', serif;
font-family: 'Noto Sans KR', sans-serif; 기본글
font-family: 'Playfair Display', serif; 신라 슬라이드
font-family: 'Roboto', sans-serif; 위 밑 글씨
*/

*{padding: 0; margin: 0; font-family: 'Noto Sans KR', sans-serif;}
li{list-style: none;}
a{text-decoration: none;}
img{display: block; max-width: 100%;}

button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}

.wrap{
    width: 77%;/* 1462 76.14 */
    overflow: hidden;
    margin: 0 auto;
    /*background-color: burlywood;*/
}

.wrap_2{
    width: 77%;/* 1462 76.14 */
    overflow: hidden;
    margin: 0 auto;
}

/* common */
.hide{display:none;}
.blind{
    position:absolute;
    left:-999em;
}
.clear:after{
    content:'';
    clear:both;
    display:block;
}

/* animation */
@keyframes up{
    0%{transform: translateY(70px);}
    100%{transform: translateY(0);}
}
@keyframes up2{
    0%{transform: translateY(100px);}
    100%{transform: translateY(0);}
}
@keyframes up3{
    0%{transform: translateY(20px);}
    100%{transform: translateY(0);}
}
@keyframes left{
    0%{transform: translateX(50px);}
    100%{transform: translateX(0);}
}
@keyframes right{
    0%{transform: translateX(-10px);}
    100%{transform: translateX(0);}
}
@keyframes right2{
    0%{transform: translateX(-50px);}
    100%{transform: translateX(0);}
}

/*mainSd*/
#mainSd{
    width: 100%;
    height: 450px;
    background: url(../img/sub6_mainslide.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* filter: brightness(50%); 요소거나 이미지면 가능 */  
    background-color:#dddddd;
    transition: 0.6s;
}

#mainSd  h1{
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, 0);
    text-align: center;
    /*background-color:cadetblue;*/
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    letter-spacing:3px;
    transition: 0.6s;
}


/*content*/
#content{
    width: 77%;
    overflow: hidden;
    margin: auto;
    transition: 0.6s;
    /* background-color: #cccccc; */
}
#content h1{
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 35px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 90px;
    transition: 0.6s;
}
#content .box{
    width: 100%;
    overflow: hidden;
    /* background-color: blueviolet; */
    margin-top: 114px;
    transition: 0.6s;
    display: flex;
    justify-content: space-between;
}

#content .box:first-child{
    margin-top: 0;
    transition: 0.6s;
}

#content .con{
    overflow: hidden;
    transition: 0.6s;
}

#content .box .con:first-child{
    transition: 0.6s;
}
#content .box .con:last-child{
    transition: 0.6s;
}

#content .con h2{
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 5px;
    font-weight: 500;
    transition: 0.6s;
}
#content .con p{
    font-weight: 100;
    padding-bottom: 16px;
    transition: 0.6s;
}
#content .text{
    border-top: 1px solid #666666;
    position: relative;
    transition: 0.6s;
}
#content .text ul{
    margin-top: 20px;
    transition: 0.6s;
}
#content .text ul li{
    font-size: 16px;
    font-weight: 300;
    transition: 0.6s;
}
#content button{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #9a8776;
    border: none;
    color: #fff;
    font-weight: 400;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.6s;
}

#content button:hover{
    background-color: #e8d7c3e3;
    color: #333;
    transition: 0.6s;
}


/*media*/
@media screen and (max-width:1510px) {
    #content{
        width: 80%;
    }
}
@media screen and (max-width:1430px) {
    .wrap nav{
        width:60%;
    }

}

@media screen and (max-width:1150px) {
    #mainSd{
        height: 500px;
    }


    /*content*/
    #content{
        width: 88%;
    }
}


@media screen and (max-width:1024px){


    /*content*/
    #content{
        width: 94%;
    }

}

@media screen and (max-width:860px){



    /*mainSd*/
    #mainSd  h1{
        font-size: 28px;
    }

    /*content*/
    #content h1{
        font-size: 30px;
        margin-top: 120px;
        margin-bottom: -40px;
    }
    #content .con h2{
        font-size: 20px;
    }
    #content p{
        display: none;
    }

}

@media screen and (max-width:768px){

    /*content*/
    #content .con h2{
        font-size: 16px;
        text-align: center;
        padding-bottom: 10px;
    }
    #content ul{
        display: none;
    }
    #content .text{
        height: 40px;
        padding-bottom: 20px;
    }
    #content button{
        width: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,0);
        font-weight: 400;
        font-size: 18px;
    }


}