@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
font-family: 'Cinzel', serif;
font-family: 'Noto Sans KR', sans-serif; 기본글
font-family: 'Playfair Display', serif; 신라 슬라이드
font-family: 'Roboto', sans-serif; 위 밑 글씨
*/

*{padding: 0; margin: 0; font-family: 'Noto Sans KR', sans-serif;}
li{list-style: none;}
a{text-decoration: none;}
img{display: block; max-width: 100%;}

button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}

.wrap{
    width: 77%;/* 1462 76.14 */
    overflow: hidden;
    margin: 0 auto;
    /*background-color: burlywood;*/
}

.wrap_2{
    width: 77%;/* 1462 76.14 */
    overflow: hidden;
    margin: 0 auto;
}

.con{
    width: 75%;
    overflow: hidden;
    margin: auto;
    /* background-color: #d5bea4; */
    transition: 0.6s;
}

.con2{
    width: 62%;
    overflow: hidden;
    margin: auto;
    /* background-color: #9a8776; */
    transition: 0.6s;
}


/* common */
.hide{display:none;}
.blind{
    position:absolute;
    left:-999em;
}
.clear:after{
    content:'';
    clear:both;
    display:block;
}

/* animation */
@keyframes up{
    0%{transform: translateY(70px);}
    100%{transform: translateY(0);}
}
@keyframes up2{
    0%{transform: translateY(100px);}
    100%{transform: translateY(0);}
}
@keyframes up3{
    0%{transform: translateY(20px);}
    100%{transform: translateY(0);}
}
@keyframes left{
    0%{transform: translateX(50px);}
    100%{transform: translateX(0);}
}
@keyframes right{
    0%{transform: translateX(-10px);}
    100%{transform: translateX(0);}
}
@keyframes right2{
    0%{transform: translateX(-50px);}
    100%{transform: translateX(0);}
}

/*mainSd*/
#mainSd{
    width: 100%;
    height: 450px;
    background: url(../img/sub1_mainslide.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* filter: brightness(50%); 요소거나 이미지면 가능 */  
    background-color:#dddddd;
    transition: 0.6s;
}

#mainSd  h1{
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, 0);
    text-align: center;
    /*background-color:cadetblue;*/
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    letter-spacing:3px;
    transition: 0.6s;
}


/*group*/
#group{
    margin-top: 150px;
    /* background-color: aquamarine; */
    transition: 0.6s;
}
#group h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 60px;
    transition: 0.6s;
}
#group p{
    font-weight: 300;
    text-align: center;
    transition: 0.6s;
}

/*company*/
#company{
    /* background-color: bisque; */
    margin-top: 210px;
    transition: 0.6s;
}
#company h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 70px;
    transition: 0.6s;
}
#company .left{
    width: 49%;
    overflow: hidden;
    /* background-color: #9a8776; */
    float: left;
    transition: 0.6s;
}
#company .right{
    width: 48%;
    overflow: hidden;
    /* background-color: bisque; */
    float: right;
    transition: 0.6s;
}
#company .right p{
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 26px;
    transition: 0.6s;
}
#company .right p:last-of-type{
    margin-bottom: 26px;
    transition: 0.6s;
}



/*vision*/
#vision{
    width: 100%;
    background-color: #f6efe7;
    margin-top: 250px;
    text-align: center;
    padding: 64px 0;
    transition: 0.6s;
}
#vision .tit{
    /* opacity: 0; */
    text-align: center;
    transition: 0.6s;
}
#vision h1{
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 64px;
    transition: 0.6s;
}
#vision .circleBox{
    position: relative;
    margin: 50px 0 0 0;
    /* background-color: cadetblue; */
}
#vision .cbox.box_1{
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: 250px;
    margin-top: -10px;
    transform: translateY(-50%);
    padding-right: 70px;
    font-size: 20px;
    color: #333;
    font-weight: 400;
    /* background-color: chartreuse; */
}
#vision .cbox.box_1 strong{
    position: absolute;
    right: 0;
    top: -15px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background-color: #ba8768;
    border-radius: 100%;
}
#vision .cbox.box_1::after{
    content: "";
    display: block;
    position: absolute;
    right: -121px;
    top: 50%;
    width: 100px;
    height: 1px;
    background-color: #d6b8a3;
}
#vision .cbox.box_1::before{
    content: "";
    display: block;
    z-index: 1;
    position: absolute;
    right: -125px;
    top: 50%;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    background-color: #ba8768;
    border-radius: 100%;
}


#vision .cbox.box_2{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 250px;
    margin-top: -10px;
    transform: translateY(-50%);
    padding-left: 70px;
    font-size: 20px;
    color: #333;
    font-weight: 400;
}
#vision .cbox.box_2 strong{
    position: absolute;
    left: 0;
    top: -15px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background-color: #ba8768;
    border-radius: 100%;
}
#vision .cbox.box_2::after{
    content: "";
    display: block;
    position: absolute;
    left: -121px;
    top: 50%;
    width: 100px;
    height: 1px;
    background-color: #d6b8a3;
}
#vision .cbox.box_2::before{
    content: "";
    display: block;
    z-index: 1;
    position: absolute;
    left: -125px;
    top: 50%;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    background-color: #ba8768;
    border-radius: 100%;
}

#vision .cbox.box_3{
    border: 20px solid #e8d7c3;
    display: table;
    margin: 0 auto;
    border-radius: 100%;
}
#vision .cbox.box_3 .sbox{
    width: 258px;
    height: 258px;
    vertical-align: middle;
    border: 1px solid #ba8768;
    display: table-cell;
    background-color: #fff;
    border-radius: 100%;
}
#vision .cbox.box_3 .sbox strong{
    display: block;
    font-size: 24px;
    color: #333;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}
#vision .cbox.box_3 .sbox span{
    
    display: block;
    font-size: 10px;
    color: #333;
    font-weight: 100;
}


#vision .txt{
    opacity: 0;
    margin: 60px 0 0 0;
    font-size: 20px;
    color: #333;
    font-weight: 300;
    letter-spacing: -0.025em;
    transition: 0.6s;
}




#vision .cbox.box_1{
    animation: ani_1 1.0s 0.6s;
    animation-fill-mode: both;
}
#vision .cbox.box_2{
    animation: ani_2 1.0s 0.6s;
    animation-fill-mode: both;
}
#vision .txt{
    animation: ani_4 1.0s 0.9s;
    animation-fill-mode: both;
}




/* 
#vision{
    background-color: #f6efe7;
    margin-top: 250px;
    text-align: center;
}
#vision h1{
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 30px;
    margin: 64px 0;
}
#vision p{
    font-weight: 100;
    font-size: 18px;
    padding: 53px 0;
}
 */


/*mission*/
#mission{
    width: 62%;
    margin-top: 230px;
    overflow: hidden;
    /* background-color: cornflowerblue; */
    transition: 0.6s;
}
#mission h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 35px;
    transition: 0.6s;
}
#mission>p{
    text-align: center;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 110px;
    transition: 0.6s;
}
#mission .all_box{
    text-align: center;
    /* background-color: #9a8776; */
    transition: 0.6s;
}

#mission .box{
    width: 343px;
    height: 343x;
    background-color: #e8d7c3;
    /* padding: 0 10px; */
    display: inline-block;
    /* text-align: center; */
    position: relative;
    transition: 0.6s;
}
#mission .box:first-child{
    float: left;
    transition: 0.6s;
}
#mission .box:last-child{
    float: right;
    transition: 0.6s;
}
#mission .box h2{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
    transition: 0.6s;
}
#mission .box p{
    width: 65%;
    margin: auto;
    border-top: 1px solid #fff;
    padding-top: 48px;
    padding-bottom: 60px;
    /* background-color: aqua; */
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    transition: 0.6s;
}
#mission .fas::before {
    width: 78px;
    height: 78px;
    background-color: #bc8a69;
    border-radius: 100px;
    position: absolute;
    display: block;
    top: -40px;
    left: 50%;
    transform: translate(-50%,0);
    transition: 0.6s;
}
#mission .fas {
    font-size: 30px;
    line-height: 75px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    transition: 0.6s;
}




/*core*/
#core{
    margin-top: 260px;
    transition: 0.6s;
}
#core h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 90px;
}
#core .left{
    width: 60%;
    float: left;
    transition: 0.6s;
}
#core .right{
    width: 35%;
    float: right;
    /* background-color: cornsilk; */
    transition: 0.6s;
}
#core .right h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 50px;
}
#core .right li{
    font-size: 18px;
    font-weight: 300;
    line-height: 48px;
}
#core .right p{
    display: none;
}


/*footer*/
footer{
    width: 100%;
    margin-top: 240px;
    margin-bottom: 50px;
    transition: 0.6s;
}
footer .fis{
    width: 100%;
    height: 216px;
    background-color: #d5bea4;
    transition: 0.6s;
}
footer .fis .wrap>a img{
    width: 16.21%;
    float: left;
    margin-top: 76px;
}
footer .right{
    width: 78%;
    float: right;
    transition: 0.6s;
}
footer .right>.top{
    margin:35px 0;
    transition: 0.6s;
}
footer .right>.top a{
    float: left;
    margin-right: 35px;
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 230, 213);
    font-size: 30px;
    line-height: 30px;
    transition: 0.6s;

}
footer .right>.top a:hover{
    color: #fff;
}

footer .right>.bottom{
    margin-top: 96px;
    border-top: 1px solid rgb(255, 230, 213);
    transition: 0.6s;
}
footer .bottom ul{
    margin-top: 30px;
    transition: 0.6s;
}
footer .bottom li{
    float: left;
    border-right: 1px solid #363636;
    line-height: 17px;
    font-size: 15px;
    padding: 0 15px;
    transition: 0.6s;
}
footer .bottom li a{
    color: #363636;
}
footer .bottom li:first-child{
    padding-left: 0;
}
footer .bottom li:last-child{
    border-right: none;
    padding-right: 0;
}
footer .bottom p{
    float: left;
    color: #363636;
    font-size: 15px;
    margin-top: 15px;
    transition: 0.6s;
}
footer .sec .top ul{
    width: 80%;
    margin-top: 40px;
    transition: 0.6s;
}
footer .sec .top ul li{
    float: left;
    font-size: 15px;
    border-right: 1px solid #363636;
    line-height: 16px;
    font-weight: 400;
    padding: 0 20px;
}
footer .sec .top ul li:first-child{
    padding-left: 0;
}
footer .sec .top ul li:last-child{
    border-right: none;
}
footer .sec .top ul li a{
    color: #363636;
}
footer .sec .top .icon{
    float: right;
    height: 70px;
    margin-top: -10px;
}
footer .sec .top .icon a{
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
}
footer .sec p{
    clear: both;
    border-top: 1px solid #e2e2e2;
    padding-top: 30px;
    color: #363636;
    line-height: 24px;
    font-size: 13px;
    transition: 0.6s;
}


@keyframes ani_1 {
	0% { -webkit-transform:translateX(-100px); -ms-transform:translateX(-100px); transform:translateX(-100px); opacity: 0;}
	100% { -webkit-transform:translateX(0); -ms-transform:translateX(0); transform:translateX(0); opacity: 1;}
}

@keyframes ani_2 {
	0% { -webkit-transform:translateX(100px); -ms-transform:translateX(100px); transform:translateX(100px); opacity: 0;}
	100% { -webkit-transform:translateX(0); -ms-transform:translateX(0); transform:translateX(0); opacity: 1;}
}

@keyframes ani_3 {
	0% { -webkit-transform:translateY(50px); -ms-transform:translateY(50px); transform:translateY(50px); opacity: 0;}
	100% { -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0); opacity: 1;}
}

@keyframes ani_4 {
	0% { -webkit-transform:translateY(-50px); -ms-transform:translateY(-50px); transform:translateY(-50px); opacity: 0;}
	100% { -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0); opacity: 1;}
}




/*media*/
@media screen and (max-width:1800px){
    /*mission*/
    #mission{
        width: 68%;
    }
    .con2{
        width: 68%;
    }
} 

@media screen and (max-width:1600px){
    /*mission*/
    #mission{
        width: 77%;
    }

    /*core*/
    .con2{
        width: 77%;
    }



} 

@media screen and (max-width:1430px) {

    .wrap nav{
        width:60%;
    }
    /*company*/
    #company .right img{
        display: none;
    }

    /*mission*/
    #mission .box{
        width: 300px;
        height: 300px;
    }
    #mission .box h2{
        font-size: 22px;
    }
    #mission .box p{
        padding-top: 40px;
        font-size: 16px;
        line-height: 27px;
    }
    #mission .fas::before{
        width: 65px;
        height: 65px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%,0);
    }
    #mission .fas{
        font-size: 25px;
        line-height: 65px;
    }
}



@media screen and (max-width:1250px){

    /*mission*/
    #mission>p{
        margin-bottom: 90px;
    }
    #mission .box{
        width: 250px;
        height: 250px;
    }
    #mission .box h2{
        font-size: 20px;
    }
    #mission .box p{
        width: 80%;
        padding-top: 27px;
    }
    #mission .fas::before{
        width: 60px;
        height: 60px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%,0);
    }
    #mission .fas{
        font-size: 23px;
        line-height: 60px;
    }

    /*core*/
    #core .right h2{
        margin-top: 0;
    }


    /*footer*/
    footer .right>.top a{
        font-size: 24px;
        line-height: 24px;
    }
    footer .right>.bottom{
        margin-top: 90px;
    }
}

@media screen and (max-width:1150px) {

    /*h1 font-size*/
    #group h1,
    #company h1,
    #vision .tit h1,
    #mission h1,
    #core h1{
        font-size: 30px;
    }

    #mainSd{
        height: 500px;
    }

    /*core*/
    #core .right h2{
        display: none;
    }
    #core .right li:first-child{
        margin-top: 50px;
    }

}
	

@media screen and (max-width:1024px){

    .con{
        width: 94%;
    }
    
    /*mission*/
    #mission{
        width: 94%;
    }


    /*vision*/
    #vision .tit { font-size:24px; }
	
	#vision { 
        margin:260px 0 0 0; padding:80px 0;
    }
	#vision .circleBox { 
        margin:45px 0 0 0; 
    }
	#vision .circleBox .cbox.box_1 { 
        margin-right:215px;
        padding-right:60px; 
        font-size:18px; 
    }
	#vision .circleBox .cbox.box_1 strong { 
        top:-15px; 
        width:45px; 
        line-height:45px; 
        font-size:18px; 
    }
	#vision .circleBox .cbox.box_1:after { 
        right:-111px; 
        width:75px;
    }
	#vision .circleBox .cbox.box_1:before { 
        right:-111px;
     }
	#vision .circleBox .cbox.box_2 { 
        margin-left:215px; 
        padding-left:60px; 
        font-size:18px; 
    }
	#vision .circleBox .cbox.box_2 strong { 
        top:-15px; 
        width:45px; 
        line-height:45px; 
        font-size:18px; 
    }
	#vision .circleBox .cbox.box_2:after {
        left:-111px; 
        width:75px;  
    }
	#vision .circleBox .cbox.box_2:before {
        left:-111px;
     }
	#vision .circleBox .cbox.box_3 { 
        border:15px solid #e8d7c3; 
    }
	#vision .circleBox .cbox.box_3 .sbox { 
        width:215px; 
        height:215px;
     }
	#vision .txt { 
        margin:60px 0 0 0; 
        font-size:18px;
     }

    /*core*/
    .con2{
        width: 94%;
    }


    /*footer*/
    footer .fis{
        height: 170px;
    }
    footer .fis .wrap>a img{
        margin-top: 68px;
    }
    footer .right>.top a{
        font-size: 19px;
        line-height: 19px;
        margin-right: 19px;
    }
    footer .right>.top a:last-child{
        margin-right: 0;
    }
    footer .bottom p{
        display: none;
    }
    footer .sec .top{
        display: none;
    }

}

@media screen and (max-width:860px){

    /*mainSd*/
    #mainSd  h1{
        font-size: 28px;
    }



    /*company*/
    #company .left{
        width: 100%;
    }
    #company .left img{
        margin: auto;
    }
    #company .right{
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }


    /*vision*/
    #vision { 
        margin:250px 0 0 0; 
        padding:50px 0;  
    }
    #vision h1{ 
        margin-bottom: 150px;
    }
	#vision .circleBox { 
        margin:120px auto;
    }
	#vision .circleBox .cbox.box_1 { 
        text-align:center; 
        left:0; 
        top:0; 
        transform:translate(-50%, 0); 
        right:auto; 
        margin-top:-80px; 
        padding:0; 
        font-size:16px; 
        width:100%;
      }
	#vision .circleBox .cbox.box_1 strong {  
        position:absolute; 
        text-align:center; 
        top:30px; 
        left:50%;
        transform: translate(-50%,0);
        width:32px; 
        line-height:32px; 
        margin-bottom:-16px; 
        font-size:15px; 
        display:block;
    }
	#vision .circleBox .cbox.box_1:after { 
        left:50%; 
        width:1px; 
        height:30px; 
        top:62px
    }
	#vision .circleBox .cbox.box_1:before { 
        left:50%; 
        top:95px; 
        margin-left:-4px;
    }
	#vision .circleBox .cbox.box_2 { 
        text-align:center; 
        top:auto; 
        left:0; 
        bottom:0; 
        transform:translate(-50%, 0); 
        right:auto; 
        margin:0 0 -80px 0; 
        padding:0; 
        font-size:16px; 
        width:100%;
    }
	#vision .circleBox .cbox.box_2 strong { 
        position:absolute; 
        text-align:center; 
        top:-40px;
        left:50%;
        transform: translate(-50%,0);
        width:32px; 
        line-height:32px; 
        margin-bottom:-16px;
        font-size:15px; 
        display:block;
        }
	#vision .circleBox .cbox.box_2:after {
        left:0;
         width:32px;
    }
	#vision .circleBox .cbox.box_2:after { 
        left:50%; 
        width:1px; 
        height:30px; 
        top:-70px 
    }
	#vision .circleBox .cbox.box_2:before { 
        left:50%; 
        top:-70px; 
        margin-left:-4px;
    }
	#vision .circleBox .cbox.box_3 .sbox { 
        width:140px; 
        height:140px; 
    }
	#vision .circleBox .cbox.box_3 .sbox strong { 
        font-size:18px;
     }
	#vision .circleBox .cbox.box_3 .sbox span {
         font-size:8px;
        }
	#vision .txt { 
        margin:60px 0 0 0; 
        font-size:16px; 
        padding:0 20px; 
        line-height:20px;
     }


    /*mission*/
    #mission{
        width: 90%;
    }
    #mission .box{
        width: 100%;
        height: 230px;
        display: block;
        float: left;
        margin: auto;
        margin-bottom: 100px;
    }
    #mission .box p{
        padding-bottom: 30px;
    }

    /*core*/
    #core .left{
        width: 100%;
        /* background-color: #9a8776; */
    }
    #core .left img{
        margin: auto;
    }
    #core .right{
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    #core .right li{
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        display: none
    }
    #core .right p{
        display: inline;
        font-size: 15px;
        font-weight: 300;
    }



    /*footer*/
    footer .fis{
        height: 90px;
    }
    footer .fis .wrap>a img{
        margin-top: 32px;
    }
    footer .fis .bottom{
        display: none;
    }

}

@media screen and (max-width:768px){


    /*footer*/
    footer .fis{
        height: 70px;
    }
    footer .fis .wrap>a img{
        margin-top: 24px;
    }
    footer .right>.top{
        margin: 28px 0;
    }
    footer .right>.top a{
        font-size: 15px;
        line-height: 15px;
        margin-right: 15px;
    }


}

@media screen and (max-width:640px){
	.company-about .tit { 
        font-size:20px;
     }
	.company-about .aboutVision .txt { 
        font-size:15px; 
        line-height:28px;
    }
}

/* animation */ 
#vision .tit { animation:ani_3 1.0s 0.3s; animation-fill-mode:both; }
#vision .txt_1 { animation:ani_3 1.0s 0.5s; animation-fill-mode:both; }
#vision .txt_2 { animation:ani_3 1.0s 0.7s; animation-fill-mode:both; }

#vision .tit { animation:ani_3 1.0s 0.3s; animation-fill-mode:both; }
#vision .circleBox .cbox.box_1 { animation:ani_1 1.0s 0.6s; animation-fill-mode:both; }
#vision .circleBox .cbox.box_2 { animation:ani_2 1.0s 0.6s; animation-fill-mode:both; }
#vision .txt { animation:ani_4 1.0s 0.9s; animation-fill-mode:both; }

@media screen and (max-width:640px){
	#vision .circleBox .cbox.box_1 { animation:ani_4 1.0s 0.6s; animation-fill-mode:both; }
	#vision .circleBox .cbox.box_2 { animation:ani_3 1.0s 0.6s; animation-fill-mode:both; }
}

