@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
font-family: 'Cinzel', serif;
font-family: 'Noto Sans KR', sans-serif; 기본글
font-family: 'Playfair Display', serif; 신라 슬라이드
font-family: 'Roboto', sans-serif; 위 밑 글씨
*/

*{padding: 0; margin: 0; font-family: 'Noto Sans KR', sans-serif;}
li{list-style: none;}
a{text-decoration: none;}
img{display: block; max-width: 100%;}
.flex_value{display:flex;justify-content:space-between;}

button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}
.wrap{
    width: 85%;/* 1462 76.14 */
    overflow: hidden;
    margin: 0 auto;
}
.wrap_2{
    width: 77%;/* 1462 76.14 */
    overflow: hidden;
    margin: 0 auto;
}

/* common */
.hide{display:none;}
.blind{
    position:absolute;
    left:-999em;
}
.clear:after{
    content:'';
    clear:both;
    display:block;
}

/* animation */
@keyframes up{
    0%{transform: translateY(70px);}
    100%{transform: translateY(0);}
}
@keyframes up2{
    0%{transform: translateY(100px);}
    100%{transform: translateY(0);}
}
@keyframes up3{
    0%{transform: translateY(20px);}
    100%{transform: translateY(0);}
}

@keyframes left{
    0%{transform: translateX(50px);}
    100%{transform: translateX(0);}
}
@keyframes right{
    0%{transform: translateX(-10px);}
    100%{transform: translateX(0);}
}
@keyframes right2{
    0%{transform: translateX(-50px);}
    100%{transform: translateX(0);}
}

/*mainSd*/
.mainSd{
    width: 100%;
    height: 830px;
    background-image: url(../img/main_slide_03.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.6s;
    /* filter: brightness(50%); 요소거나 이미지면 가능 */ 
}

.mainSd .text{
    position: absolute;
    left: 50%;
    top: 34%;
    transform: translate(-50%, 0);
    text-align: center;
    transition: 0.6s;
}

.mainSd .text h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 100;
    color: #e1d0bc;
    letter-spacing:3px;
    transition: 0.6s;
}

.mainSd .text h3{
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
    font-weight: 200;
    color: #e1d0bc;
    letter-spacing:1px;
}

.mainSd .text p{
    font-family: 'Roboto', sans-serif; 
    font-size: 21px;
    font-weight: 200;
    color: #e4ccb0;
    margin-top: 50px;
}

/*table flex
.mainSd .all_table{
    width: 76%;
    height: 102px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 477px;
}
*/

/*table*/
.mainSd table{
    width: 76%;
    height: 102px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 600px;
    border-collapse: collapse;
    text-align: center;
}
td{ border: none;}

.mainSd table .top td{
    font-size: 14px;
    font-weight: 400;
    color: #6a6a6a;
}
.mainSd table .top td:first-child{text-align: left;}

.mainSd table .top .tbg{
    background-color: #9a8776;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    width: 9%;
}
.mainSd .tbg a{color: #fff;}
.mainSd .tbg a:hover{
    color: #000;
    transition: 0.5s;
}

.mainSd table .bottom td{
    font-size: 20px;
    font-weight: 400;
    color: #6a6a6a;
}

.mainSd table .bottom td a{color: #6a6a6a;}
.mainSd table .bottom td:first-of-type > a{
    display: flex;
    justify-content:flex-start;
    align-items:baseline;
}
.mainSd table .bottom p{margin-right:15px;}

.mainSd table td:first-child{
    width: 23%;
    padding-left: 46px;
}

.mainSd table td img{
    width: 7%;
    margin-top: 8px;
}
.mainSd table td:nth-child(4),
.mainSd table td:nth-child(5),
.mainSd table td:nth-child(6),
.mainSd table td:nth-child(7){
    width: 7.25%;
}
.mainSd input{
    border: none;
    font-size: 22px;
    text-align: center;
    color: #6a6a6a;
}


/*--------------------------------------*/
/*reward*/
.contents{
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: 0.6s;
    margin-top:180px;
}

#panels section .main {
    width: 74.58%;
    height: 888px;
    overflow: hidden;
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    -webkit-transition: opacity 1500ms;
    transition: opacity 1500ms;
    /* overflow-y: hidden; */
    max-height: 0;
    /*  이하 생략  */
    transition: 0.6s;
}

#panel-1-ctrl:checked ~ #panels #panel-1 .main {
    max-height: initial;
    opacity: 1;
}

label.panel-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    width: 100%;
    color: #292929;
    cursor: pointer;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    font-family: 'Playfair Display', serif;
}
label.panel-label:hover {
    color: #b65e50;
}
#panels .container {
    margin: 0 auto;
    width: 100%;
}
#panels section header label.panel-label {
    padding: 12px 24px;
    box-sizing: border-box;
}
#panel-1-ctrl:checked ~ #panels #panel-1 .main {
    max-height: initial;
    opacity: 1;
}
#panel-2-ctrl:checked ~ #panels #panel-2 .main {
    max-height: initial;
    opacity: 1;
}
#panel-3-ctrl:checked ~ #panels #panel-3 .main {
    max-height: initial;
    opacity: 1;
}
#panel-4-ctrl:checked ~ #panels #panel-4 .main {
    max-height: initial;
    opacity: 1;
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
    color: #b65e50;
    padding-top: 24px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label::after {
    height: 6px;
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
    color: #b65e50;
    padding-top: 24px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label::after {
    height: 6px;
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
    color: #b65e50;
    padding-top: 24px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label::after {
    height: 6px;
}
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
    color: #b65e50;
    padding-top: 24px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label::after {
    height: 6px;
}
ul#tabs-list {
    list-style: none;
    margin: 0px 0px;
    padding: 0;
    text-align: center;
    overflow:hidden;
    position: absolute;
    right: 0;
    top: 100px;
    width: 11%;
    transition: 0.6s;
}
ul#tabs-list li {
    display:block;
    text-align: center;
    font-size: 0.875em;
    width: 10%;
    position: relative;
}
ul#tabs-list li:hover {
    -webkit-transition: none;
    transition: none;
    border-right: none;
}
ul#tabs-list li label.panel-label {
    position: relative;
    padding: 24px 0;            
    font-size: 24px;
}
ul#tabs-list li label.panel-label::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    height: 0;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
ul#tabs-list li label.panel-label:hover {padding-top: 24px;}
ul#tabs-list li label.panel-label:hover::after {height: 6px;}
.main {
    width: 70%;
    margin: 0 auto;
}
.panel-radios {display: none;}

.main .left{width: 45%;}
.main .text h1{
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    line-height: 50px;
    font-weight: 100;
}
.main .text p{line-height: 18px;}
.main .text p:nth-of-type(1){margin-top: 56px;}
.main .text p:nth-of-type(2){
    margin-top: 26px;
    margin-bottom: 22px;
}
.main .text p:nth-of-type(3){margin-bottom: 44px;}
.main .text span{color: #0f5bb9;}
#panels .img{margin-top: 84px;}
#panels .img img{width: 46%;}
.main .bg{
    width: 7%;
    background-color: #fff;
    margin-top: 10px;
}

.main .right{
    width: 47.5%;
    margin-top: 10px;
}



        #contents {
           width:100%;  
           overflow:hidden;  
           margin: auto;  
        }

/*--------------------------------------*/



/*life*/
.life{
    margin-top: 200px;
    position: relative;
    overflow: hidden;
    margin-bottom: 160px;
    transition: 0.6s;
}

.life>h1{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}


.life>.con_inner{
     width: 100%; 
     overflow: hidden; 
     background: url(../img/bg_b.png) right 160px no-repeat;  
     margin-top: 120px;
}

.life .con{
    width: 64%;
    margin: auto;
    margin-bottom: 190px;
    overflow: hidden; 
}


/*box1*/
.box1 .left{
    width: 50%;
    height: 860px; 
    position: relative;
    transition: 0.6s;
}
.box1 .left img:nth-child(1){
    position: absolute; 
    right: 0;
    top: 0;
    /*z-index: 2;*/
}
.box1 .left img:nth-child(2){
    position: absolute; 
    left: 0;
    bottom: 0;
}

.box1 .right{
    width: 43%;
    height: 500px; 
    margin-top: 240px;
    transition: 0.6s;
  }

.title p{
      font-size: 14px;
      color: #0f5bb9;
      font-weight: 300;
      line-height: 10px;
}
.title h3{
    font-size: 30px;
    color: #000000;
    font-weight: 100;
    margin-bottom: 46px;
}
.life .text{
    line-height: 24px;
}
.life .text h3{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 26px;
}
.life .text p{
    font-size: 14px;
    font-weight: 300;
}
.life .text p:nth-of-type(2){margin: 26px 0;}
.life .text p:nth-of-type(3){margin-bottom: 26px;}


/*box2*/
.box2 .left{
    width: 43%;
    height: 370px; 
    /*background-color: aqua;*/
    margin-top: 148px;
    transition: 0.6s;
  }
  .box2 .right{
    width: 51%;
    height: 700px; 
    /*background-color: rgb(68, 202, 202);*/
    position: relative;
    transition: 0.6s;
  }
  .box2 .right img:nth-child(1){
   position: absolute; 
   right: 0;
   top: 0;
  }
  .box2 .right img:nth-child(2){
   position: absolute; 
   left: 0;
   top: 56px;
  }


/*box3*/
.box3 .left{
    width: 60%;
    height: 635px; 
    position: relative;
    transition: 0.6s;
  }
  .box3 .left img:nth-child(1){
   position: absolute; 
   left: 0;
   top: 0;
  }
  .box3 .left img:nth-child(2){
   position: absolute; 
   right: 0;
   bottom: 0;
  }
  
  .box3 .right{
      width: 34%;
      height: 270px;  
      margin-top: 8px;
      transition: 0.6s;
    }

    .fadeinleft {
        opacity:0;
        margin-left:-300px;    
        max-width:100%;
    }
    .fadeinright{
        opacity:0;
        margin-right:-300px;    
        max-width:100%;
    }



/*gal*/
.gal{text-align: center;}
/* .gal img{
    height: 100%;
} */
.gal h1{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 98px;
}

.all_gal{
    display: flex;
    justify-content: space-between;
    height: 70vh;
}

.gal .left{
    width:49.2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gal .left .lt{
    height:38vh;
    overflow: hidden;
}
.gal .left .lt .box:first-child{width:66%;}
.gal .left .lt .box:last-child{width:31%;}
.gal .left .lb{height: 30vh;}
.gal .left .lb .box{width:48.4%;}

.gal .right{width:49.2%;}
.gal .right .lt{width:48.4%;}
.gal .right .lb{
    width: 49.3%;
    flex-wrap: wrap; 
    flex-direction: row;
}
.gal .right .lb .box {overflow: hidden;}
.gal .right .lb .box:nth-child(2){margin: 2vh 0; }

.gal iframe{display: none;}

@media all and (max-width:1600px){
    .gal .left .lt {
        height: 36vh;
    }
}