@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
font-family: 'Cinzel', serif;
font-family: 'Noto Sans KR', sans-serif; 기본글
font-family: 'Playfair Display', serif; 신라 슬라이드
font-family: 'Roboto', sans-serif; 위 밑 글씨
*/

*{padding: 0; margin: 0; font-family: 'Noto Sans KR', sans-serif;}
li{list-style: none;}
a{text-decoration: none;}
img{display: block; max-width: 100%;}
.flex_value{display:flex;justify-content:space-between;}

button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}
.wrap{
    width: 77%;/* 1462 76.14 */
    overflow: hidden;
    margin: 0 auto;
}
.wrap_2{
    width: 77%;/* 1462 76.14 */
    overflow: hidden;
    margin: 0 auto;
}

/* common */
.hide{display:none;}
.blind{
    position:absolute;
    left:-999em;
}
.clear:after{
    content:'';
    clear:both;
    display:block;
}

/* animation */
@keyframes up{
    0%{transform: translateY(70px);}
    100%{transform: translateY(0);}
}
@keyframes up2{
    0%{transform: translateY(100px);}
    100%{transform: translateY(0);}
}
@keyframes up3{
    0%{transform: translateY(20px);}
    100%{transform: translateY(0);}
}

@keyframes left{
    0%{transform: translateX(50px);}
    100%{transform: translateX(0);}
}
@keyframes right{
    0%{transform: translateX(-10px);}
    100%{transform: translateX(0);}
}
@keyframes right2{
    0%{transform: translateX(-50px);}
    100%{transform: translateX(0);}
}

/*header - pc*/
/* .wrap{background:#fcfbf8;} */

header{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:90px;
    background:transparent;
    z-index:1000;
    transition:.3s ease-in-out;
    text-align: center;
}
.logo{
    position:absolute;
    left:6.4%; /* 48 / 750 */
    top:18px;
    z-index:1000;
}
.logo h1{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 500;
    color: #3a332e;/*5a4f46*/
    letter-spacing:3px;
    transition: 0.6s;
}
.logo h3{
    font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    font-weight: 400;
    color: #3a332e;
    letter-spacing:1px;
}

.btn_nav{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:6.4%; /* 48 / 750 */
    z-index:1000;
    width:26px;
    height:18px;
}
.btn_nav span{
    display: block;
    position: absolute;
    top:0;
    width:100%;
    height:2px;
    background:#3f2b1a;
    text-indent:-999em;
    transition:.3s;
}
.btn_nav span:nth-child(2){
    top:8px;
}
.btn_nav span:nth-child(3){
    top:16px;
}

header.active span{
    background:#fff;
}
header.active span:nth-child(1){
    top:8px;
    transform: rotate(45deg);
}
header.active span:nth-child(2){
    background:transparent;
}
header.active span:nth-child(3){
    top:8px;
    transform: rotate(-45deg);
}
header.active .logo a{
    background-image:url(../img/logo_w.png);
}

.nav_wrap{
    position: fixed;
    background-color:#e8d7c3e3;
    left: 0;
    top: 0;
    width:100%;
    height:100vh;
    display: none;
}


header .nav_inner{
    width: 60%;
    height:90px;
    margin: auto;
    text-align: center;
    z-index: 999;
}
header .nav_bg{
    width: 100%;
    height: 380px;
    position: absolute;
    left: 0;
    top: 90px;
    background-color: #fff;
    display: none;
}

header ul.gnb>li{
    width: 100%;
    overflow: hidden;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    position: relative;
}
header ul.gnb>li:first-child{
    margin-top: 190px;
}

header ul.gnb>li>a{
    font-family: 'Noto Sans KR', sans-serif; 
}

header ul.gnb>li>a{
    display: block;
}

header ul.gnb>li>a:hover{
    color: #fff;
    transition: 0.3s;
}


/*submenu*/
header ul.submenu{
    width: 100%;
    display: none;
}

header ul.submenu>li{
    width: 100%;
    line-height: 60px;
    height: 60px;
    font-size: 13px;
    font-weight: 300;
    
}

header ul.submenu>li>a:hover{
    border-bottom: 1px solid #333;
}

/*login*/
header ul.login{
    /* width: 22%;20%; */
    position: absolute;
    top: 0;
    right:6%;
    display:flex;
    justify-content:space-between;
}

header ul.login>li{
    font-size: 12px;
    font-weight: 300;
    line-height: 10px;
    border-right: 1px solid #333;
    margin: 40px 0px; /* 90 - 10 / 2*/
    padding: 0px 10px;
}

ul.login>li:nth-of-type(1){
    padding-left: 0;
}

ul.login>li:nth-of-type(3){
    border: none;
    padding-right: 0;
}

header ul.login>li>a{
    display: block;
}

header li>a{
    color: #333333;
}

header ul.login i{
    opacity: 0;
}
header i{
    opacity: 0;
}


/*mainSd*/
.mainSd{
    width: 100%;
    height: 830px;
    background-image: url(../img/main_slide_03.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.6s;
    /* filter: brightness(50%); 요소거나 이미지면 가능 */ 
}

.mainSd .text{
    position: absolute;
    left: 50%;
    top: 34%;
    transform: translate(-50%, 0);
    text-align: center;
    transition: 0.6s;
}

.mainSd .text h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 100;
    color: #e1d0bc;
    letter-spacing:3px;
    transition: 0.6s;
}

.mainSd .text h3{
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
    font-weight: 200;
    color: #e1d0bc;
    letter-spacing:1px;
}

.mainSd .text p{
    font-family: 'Roboto', sans-serif; 
    font-size: 21px;
    font-weight: 200;
    color: #e4ccb0;
    margin-top: 50px;
}

/*table flex
.mainSd .all_table{
    width: 76%;
    height: 102px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 477px;
}
*/

/*table*/
.mainSd table{
    width: 76%;
    height: 102px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 600px;
    border-collapse: collapse;
    text-align: center;
}
td{
    border: none;
}

.mainSd table .top td{
    font-size: 14px;
    font-weight: 400;
    color: #6a6a6a;
}
.mainSd table .top td:first-child{
    text-align: left;
}

.mainSd table .top .tbg{
    background-color: #9a8776;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    width: 9%;
}
.mainSd .tbg a{
    color: #fff;
}
.mainSd .tbg a:hover{
    color: #000;
    transition: 0.5s;
}

.mainSd table .bottom td{
    font-size: 20px;
    font-weight: 400;
    color: #6a6a6a;
}

.mainSd table .bottom td a{
    color: #6a6a6a;
}
.mainSd table .bottom td:first-of-type > a{
    display: flex;
    justify-content:flex-start;
    align-items:baseline;
}
.mainSd table .bottom p{
    margin-right:15px;
}

.mainSd table td:first-child{
    width: 23%;
    padding-left: 46px;
}

.mainSd table td img{
    width: 7%;
    margin-top: 8px;
}
.mainSd table td:nth-child(4),
.mainSd table td:nth-child(5),
.mainSd table td:nth-child(6),
.mainSd table td:nth-child(7){
    width: 7.25%;
}
.mainSd input{
    border: none;
    font-size: 22px;
    text-align: center;
    color: #6a6a6a;
}


/*--------------------------------------*/
/*reward*/
.contents{
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: 0.6s;
    margin-top:180px;
}

#panels section .main {
    width: 74.58%;
    height: 888px;
    overflow: hidden;
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    -webkit-transition: opacity 1500ms;
    transition: opacity 1500ms;
    /* overflow-y: hidden; */
    max-height: 0;
    /*  이하 생략  */
    transition: 0.6s;
}

#panel-1-ctrl:checked ~ #panels #panel-1 .main {
    max-height: initial;
    opacity: 1;
}

label.panel-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    width: 100%;
    color: #292929;
    cursor: pointer;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    font-family: 'Playfair Display', serif;
}
label.panel-label:hover {
    color: #b65e50;
}
#panels .container {
    margin: 0 auto;
    width: 100%;
}
#panels section header label.panel-label {
    padding: 12px 24px;
    box-sizing: border-box;
}
#panel-1-ctrl:checked ~ #panels #panel-1 .main {
    max-height: initial;
    opacity: 1;
}
#panel-2-ctrl:checked ~ #panels #panel-2 .main {
    max-height: initial;
    opacity: 1;
}
#panel-3-ctrl:checked ~ #panels #panel-3 .main {
    max-height: initial;
    opacity: 1;
}
#panel-4-ctrl:checked ~ #panels #panel-4 .main {
    max-height: initial;
    opacity: 1;
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
    color: #b65e50;
    padding-top: 24px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label::after {
    height: 6px;
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
    color: #b65e50;
    padding-top: 24px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label::after {
    height: 6px;
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
    color: #b65e50;
    padding-top: 24px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label::after {
    height: 6px;
}
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
    color: #b65e50;
    padding-top: 24px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label::after {
    height: 6px;
}
ul#tabs-list {
    list-style: none;
    margin: 0px 0px;
    padding: 0;
    text-align: center;
    overflow:hidden;
    position: absolute;
    right: 0;
    top: 100px;
    width: 11%;
    transition: 0.6s;
}
ul#tabs-list li {
    display:block;
    text-align: center;
    font-size: 0.875em;
    width: 10%;
    position: relative;
}
ul#tabs-list li:hover {
    -webkit-transition: none;
    transition: none;
    border-right: none;
}
ul#tabs-list li label.panel-label {
    position: relative;
    padding: 24px 0;            
    font-size: 24px;
}
ul#tabs-list li label.panel-label::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    height: 0;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
ul#tabs-list li label.panel-label:hover {
    padding-top: 24px;
}
ul#tabs-list li label.panel-label:hover::after {
    height: 6px;
}
.main {
    width: 70%;
    margin: 0 auto;
}
.panel-radios {
    display: none;
}

.main .left{
    width: 45%;
}
.main .text h1{
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    line-height: 50px;
    font-weight: 100;
}
.main .text p{
    line-height: 18px;
}
.main .text p:nth-of-type(1){
    margin-top: 56px;
}
.main .text p:nth-of-type(2){
    margin-top: 26px;
    margin-bottom: 22px;
}
.main .text p:nth-of-type(3){
    margin-bottom: 44px;
}
.main .text span{
    color: #0f5bb9;
}
#panels .img{
    margin-top: 84px;
}
#panels .img img{
    width: 46%;
}
.main .bg{
    width: 7%;
    background-color: #fff;
    margin-top: 10px;
}

.main .right{
    width: 47.5%;
    margin-top: 10px;
}



        #contents {
           width:100%;  
           overflow:hidden;  
           margin: auto;  
        }

/*--------------------------------------*/



/*life*/
.life{
    margin-top: 200px;
    position: relative;
    overflow: hidden;
    margin-bottom: 160px;
    transition: 0.6s;
}

.life>h1{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}


.life>.con_inner{
     width: 100%; 
     overflow: hidden; 
     background: url(../img/bg_b.png) right 160px no-repeat;  
     margin-top: 120px;
}

.life .con{
    width: 64%;
    margin: auto;
    margin-bottom: 190px;
    overflow: hidden; 
}


/*box1*/
.box1 .left{
    width: 50%;
    height: 860px; 
    position: relative;
    transition: 0.6s;
}
.box1 .left img:nth-child(1){
    position: absolute; 
    right: 0;
    top: 0;
    /*z-index: 2;*/
}
.box1 .left img:nth-child(2){
    position: absolute; 
    left: 0;
    bottom: 0;
}

.box1 .right{
    width: 43%;
    height: 500px; 
    margin-top: 240px;
    transition: 0.6s;
  }

.title p{
      font-size: 14px;
      color: #0f5bb9;
      font-weight: 300;
      line-height: 10px;
}
.title h3{
    font-size: 30px;
    color: #000000;
    font-weight: 100;
    margin-bottom: 46px;
}
.life .text{
    line-height: 24px;
}
.life .text h3{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 26px;
}
.life .text p{
    font-size: 14px;
    font-weight: 300;
}
.life .text p:nth-of-type(2){
    margin: 26px 0;
}
.life .text p:nth-of-type(3){
    margin-bottom: 26px;
}


/*box2*/
.box2 .left{
    width: 43%;
    height: 370px; 
    /*background-color: aqua;*/
    margin-top: 148px;
    transition: 0.6s;
  }
  .box2 .right{
    width: 51%;
    height: 700px; 
    /*background-color: rgb(68, 202, 202);*/
    position: relative;
    transition: 0.6s;
  }
  .box2 .right img:nth-child(1){
   position: absolute; 
   right: 0;
   top: 0;
  }
  .box2 .right img:nth-child(2){
   position: absolute; 
   left: 0;
   top: 56px;
  }


/*box3*/
.box3 .left{
    width: 60%;
    height: 635px; 
    position: relative;
    transition: 0.6s;
  }
  .box3 .left img:nth-child(1){
   position: absolute; 
   left: 0;
   top: 0;
  }
  .box3 .left img:nth-child(2){
   position: absolute; 
   right: 0;
   bottom: 0;
  }
  
  .box3 .right{
      width: 34%;
      height: 270px;  
      margin-top: 8px;
      transition: 0.6s;
    }

    .fadeinleft {
        opacity:0;
        margin-left:-300px;    
        max-width:100%;
    }
    .fadeinright{
        opacity:0;
        margin-right:-300px;    
        max-width:100%;
    }



/*gal*/
.gal{
    text-align: center;
}
/* .gal img{
    height: 100%;
} */
.gal h1{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 98px;
}

.all_gal{
    display: flex;
    justify-content: space-between;
    height: 70vh;
}

.gal .left{
    width:49.2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gal .left .lt{
    height:38vh;
    overflow: hidden;
}
.gal .left .lt .box:first-child{
    width:66%;
}
.gal .left .lt .box:last-child{
    width:31%;
}
.gal .left .lb{
    height: 30vh;
}
.gal .left .lb .box{
    width:48.4%;
}

.gal .right{
    width:49.2%;
}
.gal .right .lt{
    width:48.4%;
}
.gal .right .lb{
    width: 49.3%;
    flex-wrap: wrap; 
    flex-direction: row;
}
.gal .right .lb .box {
   overflow: hidden;
}
.gal .right .lb .box:nth-child(2){
     margin: 2vh 0; 
}

.gal iframe{
    display: none;
}

/*footer*/
footer{
    width: 100%;
    margin-top: 250px;
    margin-bottom: 50px;
    transition: 0.6s;
}
footer .fis{
    width: 100%;
    overflow:hidden;
    background-color: #d5bea4;
    transition: 0.6s;
}
footer .fis .wrap{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
footer .fis .wrap > .logo{
    width: 16.21%;
    position:static;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}
footer .fis .wrap > .logo h1{
    font-size:30px;
}
footer .fis .wrap > .logo h3{
    font-size: 14px;
}
footer .right{
    width: 76%;
    transition: 0.6s;
}
footer .right>.top{
    margin:30px 0;
    transition: 0.6s;
    display:flex;
    justify-content:flex-start;
}
footer .right>.top a{
    margin-right: 35px;
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 230, 213);
    font-size: 28px;
    line-height: 30px;
    transition: 0.6s;
}
footer .right>.top a:hover{
    color: #fff;
}

footer .right>.bottom{
    border-top: 1px solid rgb(255, 230, 213);
    transition: 0.6s;
}
footer .bottom ul{
    margin-top: 30px;
    transition: 0.6s;
    display:flex;
    justify-content:flex-start;
}
footer .bottom li{
    border-right: 1px solid #363636;
    line-height: 17px;
    font-size: 15px;
    padding: 0 15px;
    transition: 0.6s;
}
footer .bottom li a{
    color: #363636;
}
footer .bottom li:first-child{
    padding-left: 0;
}
footer .bottom li:last-child{
    border-right: none;
    padding-right: 0;
}
footer .bottom p{
    color: #363636;
    font-size:15px;
    margin:15px 0 30px;
    transition:0.6s;
}
footer .sec .top{
    display: flex;
    justify-content: space-between;
    margin:24px 0;
}

footer .sec .top ul{
    width: 80%;
    transition: 0.6s;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
footer .sec .top ul li{
    font-size: 15px;
    border-right: 1px solid #363636;
    line-height: 16px;
    font-weight: 400;
    padding: 0 20px;
}
footer .sec .top ul li:first-child{
    padding-left: 0;
}
footer .sec .top ul li:last-child{
    border-right: none;
}
footer .sec .top ul li a{
    color: #363636;
}
footer .sec .top .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .sec .top .icon a{
    width:65px;
    display: flex;
    justify-content:flex-end;
}
footer .sec p{
    border-top: 1px solid #e2e2e2;
    padding-top: 30px;
    color: #363636;
    line-height: 24px;
    font-size: 13px;
    transition: 0.6s;
}

/* pc */
@media all and (min-width:1300px){
    .nav_wrap{
        display: block;
        height: 60px;/*100px;*/
        background:#e8d7c3;/*transparent;*/
        transition: .3s;
    }
    .nav_inner .gnb{
        width: 80%;
        margin: auto;
        transition:.3s ease-in-out;
    }

    header ul.gnb>li{
        width: 18%;
        font-size: 14px;
        font-weight: 400;
        line-height: 60px;
        position: relative;
    }
    header ul.gnb>li:first-child{
        margin-top: 0;
    }
    header ul.gnb>li:nth-child(4){
        width: 10%;
    }
    .mobile{display: none;}

}

@media all and (min-width:1432px){
    .nav_wrap{
        height: 90px;/*100px;*/
        transition: .3s;
    }

    header ul.gnb>li{
        line-height: 90px;
    }

    header ul.gnb>li>a{
        font-size: 15px;
        font-weight: 500;
    }

}
/*
모바일일때 아이콘 css
header ul.login i{
    font-size: 18px;
    margin-top: 21px;
    cursor: pointer;
    opacity: 1;
    color: #9a8776;
    margin-right: 10px;
} 
*/


